@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

// Color variables
$white: #ffffff;

$primary: #3488ec;
$success: #35d07f;
$info: #73ddff;
$warning: #fbcc5c;
$danger: #fb7c6d;
$dark: #2e3338;
$muted: #9ca8b3;

// Gray Colors
$gray-100: #f0f4f7;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #616f80;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$bg-body: #2e3338;
$body-color: #adb5bd;
$left-bar: #383c40;
$topbar-background: #3d4145;
$footer-background: #3d4145;

// light leftbar

$light-leftbar: #ffffff;
$light-leftbar-menu-active-color: #4090cb;
$topbar-background-dark: #383c40;

$font-family: 'EB Garamond', serif;
$font-family-secondary: 'Rubik', sans-serif;

$shadow: 0px 0px 13px 0px rgba(36, 36, 41, 0.07);

$base-font: 14px;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

$leftbar-menu-color: #7a8590;
$leftbar-menu-hover-color: #b4c9de;
$leftbar-menu-active-color: #ffffff;
